body {
    margin:0;
    padding:0;
    font-family:"Trebuchet MS", "Verdana", sans-serif;
}

#body1 {
    font-family:"Trebuchet MS", Verdana, sans-serif;
	background: url(../img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#body2 {
	background-image:url(../img/bg3.png);
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.text-center {
	text-align: center;
}

a {
	text-decoration:none;
	color:#E1F5FE;
}

a:hover {
	text-decoration:underline;
	color:#E1F5FE;
}

html, * {
	font-family:"Trebuchet MS", Verdana, sans-serif;
}

#logo {
	webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow:hidden;
	z-index:2;
	padding-top:10px;
}

#text {
/*	position:absolute;
	top:33px;
	width:300px;
	padding:0px;
	margin:0px;
	height:171px;
	left:calc(50% - 150px);
    */
}

#text:hover ~ #logo {
	opacity:1;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	/*width: 300px;
	height: 171px;*/
	z-index:-1000;
}

#logo:hover {
	opacity:1;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	/*width: 300px;
	height: 171px;*/
	z-index:1000;
}

#homecontent {
/*	margin-left:auto;
	margin-right:auto;
	width:500px;
	padding:20px;
	height:auto;
    */
	background-color:#03A9F4;
	background-color: rgba(3, 169, 244, 0.86);
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#bodycontent, .bodycontent {
/*	margin-left:auto;
	margin-right:auto;
	width:500px;
	padding:20px;
	height:auto;
    */
	background-color:rgba(248, 248, 248, 1);
	border-color:#e7e7e7;
}

input[type="text"] {
	background-color:#E1F5FE;
	border:0;
	margin:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#03A9F4;
	width:300px;
	text-align:center;
	font-size:13px;
	height:30px;
    font-family: "Trebuchet MS", "Verdana", sans-serif;
}

input[type="text"]:focus {
	margin:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align:center;
}

input[type="password"] {
	background-color:#E1F5FE;
	border:0;
	margin:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#03A9F4;
	text-align:center;
	width:300px;
	font-size:13px;
	height:30px;
    font-family: "Trebuchet MS", "Verdana", sans-serif;
}

input[type="password"]:focus {
	margin:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align:center;
}

input[type="email"] {
	background-color:#E1F5FE;
	border:0;
	margin:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#03A9F4;
	width:300px;
	text-align:center;
	height:30px;
	font-size:13px;
    font-family: "Trebuchet MS", "Verdana", sans-serif;
}

input[type="email"]:focus {
	margin:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align:center;
}

::-webkit-input-placeholder {
	color: #808080;
	text-align: center;
}

:-moz-placeholder {
	color: #808080;
	text-align: center;
}

input[type="button"], button {
	background-color:#3D3D3D;
	border:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#03A9F4;
	width:150px;
	height:40px;
	font-size:14px;
	font-weight:bold;
}

input[type="button"]:hover, button:hover {
	background-color:#E1F5FE;
	color:#03A9F4;
	border:0;
}


input[type="submit"], button[type="submit"], button[type="reset"] {
	background-color:#3D3D3D;
	border:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#E1F5FE;
	width:148px;
	height:40px;
	font-size:14px;
	font-weight:bold;
}

input[type="submit"]:hover, button[type="submit"]:hover, button[type="reset"]:hover {
	background-color:#E1F5FE;
	color:#03A9F4;
	width:148px;
	height:40px;
}

.pretty-tick {
    margin-top: 60%;
	//vertical-align: bottom;
	background-color: #fff;
	border-radius: 15px;
	padding: 5px;
}